<app-header></app-header>
  <div class="dx-box bg-white">
      <div class="container">
          <ul class="dx-links text-center">
              <li class="active"><a href="help-center.html">Support Home</a></li>
              <li><a href="documentations.html">Documentations</a></li>
              <li><a href="articles.html">Knowledge Base</a></li>
              <li><a href="forums.html">Forums</a></li>
              <li><a href="ticket.html">Ticket System</a></li>
          </ul>
      </div>
  </div>
  <div class="dx-separator"></div>
  <app-help-topics></app-help-topics>
  <div class="dx-separator"></div>
  <app-info-tabs></app-info-tabs>

  <ngx-spinner></ngx-spinner>
