.sidenav {
    height: 100%;
    width: 360px;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #eff1f2;
}
  
  .sidenav a, .sidenav strong {
    padding: 4px 8px 0px 16px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1b1b1b;
    display: block;
  }

  .dx-widget .dx-widget-title, .dx-widget-footer .dx-widget-title {
    padding: 0 30px 0px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1b1b1b;
    border-bottom: none;
}
.dx-widget .dx-widget-categories > li + li, .dx-widget-footer .dx-widget-categories > li + li {
    margin-top: 0;
}

.dx-widget {
    padding: 40px 0px;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
}

.dx-widget .dx-widget-categories > li .icon, .dx-widget-footer .dx-widget-categories > li .icon {
    margin-left: -6px;
    font-size: 1.1rem;
    color: #2b72e6;
    font-weight: bold;
}

.dx-widget .dx-widget-categories > li, .dx-widget-footer .dx-widget-categories > li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.1rem;
}



.dx-form .form-control {
    height: 45px;
    padding: 12px 26px;
    margin-top: 10px;
}

span.active {
    font-weight: bold;
}