<div class="container-fluid">
  <div class="row bg-grey-6">
    <div class="col-md-6">
      <h4 style="margin: 0; padding: 20px;" class="text-black">Buyer Help Center</h4>
    </div>
    <div class="col-md-6">
      <form action="#" class="padding-top dx-form dx-form-group-inputs">
        <input type="text" name="" value="" class="form-control" placeholder="Keyword search...">
        <button style="height: 45px; margin-top: 10px;" class="dx-btn dx-btn-sm">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="sidenav">
        <a style="font-size: 13px;" href="single-article-category.html">
          <span class="icon pe-7s-angle-left"></span>
          <span class="dx-widget-categories-category">Help & Education Center</span>
        </a>
        <strong *ngIf="_buyerCategoryData.length > 0">All Topics ({{ _buyerCategoryData.length }})</strong>
        <!--Buyer-->
        <div *ngIf="_buyerCategoryData.length > 0">
          <a *ngFor="let _buyerCategory of _buyerCategoryData; let i = index" href="javascript: void(0);" (click)="getBuyerCategoryByIdDataFromServer(_buyerCategory.id)">
            <span [ngClass]="(_categoryId == _buyerCategory.id) ? 'active' : '' ">{{ _buyerCategory.name }}</span>
          </a>
        </div>
        <!--Seller-->
        <strong *ngIf="_sellerCategoryData.length > 0">All Topics ({{ _sellerCategoryData.length }})</strong>
        <div *ngIf="_sellerCategoryData.length > 0">
          <a *ngFor="let _sellerCategory of _sellerCategoryData; let j = index" href="javascript: void(0);" (click)="getSellerCategoryByIdDataFromServer(_sellerCategory.id)">
            <span [ngClass]="(_categoryId == _sellerCategory.id) ? 'active': '' ">{{ _sellerCategory.name }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="details">
        <div class="dx-widget">
          <div *ngIf="_buyerSingleCategoryData" class="dx-widget-title">{{ _buyerSingleCategoryData.name }}</div>
          <div *ngIf="_sellerSingleCategoryData" class="dx-widget-title">{{ _sellerSingleCategoryData.name }}</div>
          <ul *ngIf="_buyerSingleCategoryData" class="dx-widget-categories">
            <li *ngFor="let _buyerArticle of _buyerSingleCategoryData.articles">
              <a [routerLink]="['/article', _buyerArticle.id, 'buyer']">
                <span class="icon pe-7s-angle-right"></span>
                <span class="dx-widget-categories-category">{{ _buyerArticle.title }}</span>
              </a>
            </li>
          </ul>

          <ul *ngIf="_sellerSingleCategoryData" class="dx-widget-categories">
            <li *ngFor="let _sellerArticle of _sellerSingleCategoryData.articles">
              <a [routerLink]="['/article', _sellerArticle.id, 'seller']">
                <span class="icon pe-7s-angle-right"></span>
                <span class="dx-widget-categories-category">{{ _sellerArticle.title }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <div class="dx-box-5 bg-grey-6">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="font-weight: bold; font-size: 32px;" class="text-black">Have more questions?</h1>
                <p>We’re here to help</p>
                <a href="#" class="dx-btn dx-btn-lg mt-10">Contact Us</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>