.dx-block-faq .icon-wrapper {
    border-top-color: #7f59be !important;
    border-right-color: #7f59be !important;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid;
    border-left-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.dx-block-kbase .icon-wrapper {
    border-top-color: #de693d !important;
    border-right-color: #de693d !important;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid;
    border-left-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.dx-block-forum .icon-wrapper {
    border-top-color: #17c485 !important;
    border-right-color: #17c485 !important;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid;
    border-left-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.icon-wrapper img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
}

.dx-feature-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 70px 30px 38px;
    text-align: center;
}

.dx-block-faq {
    border: 1px solid #7f59be;
}
.dx-block-kbase {
    border: 1px solid #de693d;
}
.dx-block-forum {
    border: 1px solid #17c485;
}

.dx-block-faq:hover .icon-wrapper {
    border-top-color: #fff !important;
    border-right-color: #fff !important;
    border-bottom-color: #7f59be !important;
    border-left-color: #7f59be !important;
}

.dx-block-kbase:hover .icon-wrapper {
    border-top-color: #fff !important;
    border-right-color: #fff !important;
    border-bottom-color: #de693d !important;
    border-left-color: #de693d !important;
}

.dx-block-forum:hover .icon-wrapper {
    border-top-color: #fff !important;
    border-right-color: #fff !important;
    border-bottom-color: #17c485 !important;
    border-left-color: #17c485 !important;
}