<div class="dx-box-5 bg-grey-6">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-3 text-black">Browse Help Topics</h1>
            <p>When you are stuck in something don’t waste your time just let us
              know we are here to help you</p>
        </div>
      </div>
      <div class="row mt-70">
          <div class="col-12 col-md-4 col-lg-4 dx-feature-variable">   
            <div class="dx-feature dx-feature-3 dx-feature-color-1 dx-block-decorated dx-block-faq violet">
                <div class="icon-wrapper"><img src="https://kbase.vedicthemes.com/wp-content/uploads/2016/10/faqs.png" class="attachment-full" alt="" width="65" height="65"></div>
                <div class="dx-feature-cont">
                    <div class="dx-feature-title"><a href="documentations.html">FAQ's</a></div>
                    <div class="dx-feature-text">Phasellus interdum est diam, eu varius odio tincidunt eget ultrices et</div>
                    <a href="documentations.html" class="dx-btn dx-btn-link d-flex dx-feature-link">Read More <span class="icon pe-7s-angle-right"></span></a>
                </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 dx-feature-variable">
            <div class="dx-feature dx-feature-3 dx-feature-color-2 dx-block-decorated dx-block-kbase">
              <div class="icon-wrapper"><img src="https://kbase.vedicthemes.com/wp-content/uploads/2016/10/knowledge-base.png" class="attachment-full" alt="" width="65" height="65"></div>
                
                <div class="dx-feature-cont">
                    <div class="dx-feature-title"><a href="articles.html">Knowledge Base</a></div>
                    <div class="dx-feature-text">Aliquam id nisi sit amet massa mollis lobortis interdum felis integer at arcu</div>
                    <a href="articles.html" class="dx-btn dx-btn-link d-flex dx-feature-link">Read More <span class="icon pe-7s-angle-right"></span></a>
                </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 dx-feature-variable">
            <div class="dx-feature dx-feature-3 dx-feature-color-3 dx-block-decorated dx-block-forum">
              <div class="icon-wrapper"><img src="https://kbase.vedicthemes.com/wp-content/uploads/2016/10/support_forum.png" class="attachment-full" alt="" width="65" height="65"></div>
                <div class="dx-feature-cont">
                    <div class="dx-feature-title"><a href="forum.html">Support Forum</a></div>
                    <div class="dx-feature-text">Sed eget nibh justo euismod maximus et vel nisl pellentesque suscipit nisi</div>
                    <a href="forum.html" class="dx-btn dx-btn-link d-flex dx-feature-link">Read More <span class="icon pe-7s-angle-right"></span></a>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>