/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    padding-top: 30px;
    width: inherit;
    z-index: 1;
    background-color: rgba(238,238,238,.7);
    border-right: 1px solid #DEDEDE;
    color: #0e1724;
    font-weight: 700;
    line-height: 1.5;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 1rem;
    color: #0e1724;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    line-height: 1.5;
    border-bottom: 1px solid #DEDEDE;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 1rem; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: white;
    color: #0e1724;
    font-size: 1rem;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
    font-size: 1rem;
  }

  .dropdown-container a {
    border-bottom: none;
    font-size: 1rem;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
  }

  .SupportSideNav-title {
    font-size: 1.25rem;
    line-height: 1.4;
    padding: 0 17px;
    font-weight: bold;
}

.ArticleFeedback {
    padding: 20px;
    border: 1px solid #DEDEDE;
}

.ArticleFeedback button {
    border: none;
}
.dx-box-5:hover {
    background-color: #2b72e6;
}