<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidenav">
        <h3 class="SupportSideNav-title">Additional Articles</h3>
        <a href="#about">General</a>
        <a href="#services">Project</a>
        <a href="#clients">Contest</a>
        <a href="#contact">Payments</a>
        <button class="dropdown-btn">Memebershipt
          <i style="font-size: 25px;" class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#">Annual Memebership options</a>
          <a href="#">Upgrading/downgrading my Memebership</a>
          <a href="#">Payments</a>
        </div>
        <a href="#contact">Profile</a>
      </div>       
    </div>
    <div class="col-md-9">
      <div class="PageHelpArticle-inner" style="padding: 50px;">
        
        <article  class="PageHelpArticle-content" *ngIf="_sellerArticleData" [innerHTML]="_sellerArticleData.content">

        </article>
        <article  class="PageHelpArticle-content" *ngIf="_buyerArticleData" [innerHTML]="_buyerArticleData.content">

        </article>
        
        <div class="text-center ArticleFeedback bg-grey-6">
          <h4 class="ArticleFeedback-title">Was this article helpful?</h4>
          <div class="ArticleFeedback-questionnaire">
              <div class="ArticleFeedback-btnGroup button-group" id="article-feedback">
                <button class="ArticleFeedback-vote btn-link Icon Icon--large" data-feedback="like" data-article-feedback="">
                  <i style="font-size: 32px;" class="fa fa-smile-o" aria-hidden="true"></i>
                </button>
                <button class="ArticleFeedback-vote btn-link Icon Icon--large" data-feedback="no" data-article-feedback="">
                  <i style="font-size: 32px;" class="fa fa-frown-o" aria-hidden="true"></i>
                </button>
              </div>
          </div>
        </div>
</div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div style="padding: 0; margin: 0;" class="col-md-12">
      <div class="dx-box-5 bg-grey-6">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="font-weight: bold; font-size: 32px;" class="text-black">Have more questions?</h1>
                <p>We’re here to help</p>
                <a href="#" class="dx-btn dx-btn-lg mt-10">Contact Us</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
