<div class="dx-popup dx-popup-signin" id="login">
  <button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
  <div class="dx-signin-content dx-signin text-center">
      <h1 class="h3 text-white mb-30">Log In</h1>

      <form #form="ngForm" (submit)="onSubmit()" class="dx-form">
          <div class="dx-form-group-md">
              <input  type="email"
                class="form-control form-control-style-4"
                placeholder="Email"
                placeholder="name@address.com"
                [(ngModel)]="user.email"
                required
                name="email"
                email
                [ngClass]="{ 'is-invalid': _errors?.email != null }"
              >
              <div class="invalid-feedback" *ngIf="_errors?.email != null">
                {{ _errors?.email }}
              </div>
          </div>
          <div class="dx-form-group-md">
              <input [type]="passwordInputFieldType"
                class="form-control form-control-style-4"
                placeholder="Password"
                [(ngModel)]="user.password"
                required
                name="password"
                minlength="6"
                [ngClass]="{ 'is-invalid': _errors?.password != null }"
              >
              <div class="input-group-append">
                <span
                  class="input-group-text"
                  (click)="changePasswordFieldType()"
                >
                  <i
                    class="fe"
                    [ngClass]="{
                      'fe-eye': passwordInputFieldType == 'text',
                      'fe-eye-off': passwordInputFieldType != 'text'
                    }"
                  ></i>
                </span>
              </div>
              <div class="invalid-feedback" *ngIf="_errors?.password != null">
                {{ _errors?.password }}
              </div>
          </div>
          <div class="dx-form-group-md">
              <button type="submit"
               class="dx-btn dx-btn-block dx-btn-popu dx-btn-envato"
               [disabled]="form.invalid && form.touched"
               *ngIf="!_formSubmited"
               >Log In</button>
          </div>
          <div class="dx-form-group-md">
              <div class="d-flex justify-content-between">
                  <a data-fancybox data-touch="false" data-close-existing="true" data-src="#reset-password" href="javascript:;">Reset your password</a>
                  <a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;">Sign Up</a>
              </div>
          </div>
      </form>
  </div>
</div>