<header class="dx-header dx-box-1">
  <div class="container">
      <div class="bg-image bg-image-parallax">
      <div style="background-color: rgba(27, 27, 27, .8);"></div>
      <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;" id="jarallax-container-0">
        <img src="assets/images/bg-header-4.png" class="jarallax-img" alt="" style="object-fit: cover; object-position: 50% 50%; max-width: none; top: 0px; left: 0px; width: 1349px; height: 329.56px; overflow: hidden; pointer-events: none; margin-top: 18.72px; transform: translate3d(0px, 45.28px, 0px);">
      </div>
    </div>
      <div class="row justify-content-center">
          <div class="col-xl-7">
              <h1 style="margin-top: 45px;" class="h2 mb-30 text-white text-center">How can we help you?</h1>
              <form action="#" class="dx-form dx-form-group-inputs">
                  <input type="text" name="" value="" class="form-control" placeholder="Keyword search...">
                  <button class="dx-btn dx-btn-lg">Search</button>
              </form>
          </div>
      </div>
  </div>
</header>