<div class="dx-box-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="display-3 text-black">Need Information on?</h1>
          <p>Choose your info you need from the tabs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a style="text-align: right; border-right: 3px solid lightgray;" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-kbase" role="tab" aria-controls="nav-home" aria-selected="true">Buyer<br> ({{ _buyerCategoryData.length }} ITEMS)</a>
            <a style="text-align: left;" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-forum" role="tab" aria-controls="nav-profile" aria-selected="false">Seller<br> ({{ _sellerCategoryData.length }} ITEMS)</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-kbase" role="tabpanel" aria-labelledby="nav-home-tab">
          
            <div class="row">
              <div *ngFor="let _buyerCategory of _buyerCategoryData; let i = index" class="col-md-4">
                <div class="article-cat-item text-center">
                  <div class="cat-icon">
                    <span class="fa {{ _buyerCategory.icon }}"></span>
                  </div>
                  <div class="category-title">
                    <h5><a title="Getting Started" href="https://kbase.vedicthemes.com/blog/article_entries/education/">{{ _buyerCategory.name }}</a></h5>
                    <p class="category-count">{{ _buyerCategory.articles_count }} Articles</p>
                  </div>
                  <div class="overlay text-left">
                    <div class="education-topic-links">
                      <b class="font-accent title">{{ _buyerCategory.name }}</b>
                      <ul class="links">
                        <li *ngFor="let _article of _buyerCategory.articles; let j = index"><a href="https://buyers.fiverr.com/en/article/getting-started-3443787#using-fiverr" rel="noopener noreferrer">{{ _article.title }}</a></li>
                        <li><a [routerLink]="['/category', _buyerCategory.id, 'buyer']" rel="noopener noreferrer">See All</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-30">
              <div class="col-md-12 text-center">
                <h3>Didn’t find what you want?</h3>
                <a [routerLink]="['/buyer']" class="dx-btn dx-btn-lg mt-10">Buyer</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-forum" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
              <div *ngFor="let _sellerCategory of _sellerCategoryData; let i = index" class="col-md-4">
                <div class="article-cat-item text-center">
                  <div class="cat-icon">
                    <span class="fa {{ _sellerCategory.icon }}"></span>
                  </div>
                  <div class="category-title">
                    <h5><a title="Education" href="https://kbase.vedicthemes.com/blog/article_entries/education/">{{ _sellerCategory.name }}</a></h5>
                    <p class="category-count">{{ _sellerCategory.articles_count }} Articles</p>
                  </div>
                  <div class="overlay text-left">
                    <div class="education-topic-links">
                      <b class="font-accent title">{{ _sellerCategory.name }}</b>
                      <ul class="links">
                        <li *ngFor="let _article of _sellerCategory.articles; let j = index"><a href="https://buyers.fiverr.com/en/article/getting-started-3443787#receiving-invoices" rel="noopener noreferrer">{{ _article.title }}</a></li>
                        <li><a  [routerLink]="['/category', _sellerCategory.id, 'seller']" rel="noopener noreferrer">See All</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-30">
              <div class="col-md-12 text-center">
                <h3>Didn’t find what you want?</h3>
                <a  [routerLink]="['/seller']" class="dx-btn dx-btn-lg mt-10">Seller</a>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>