.article-cat-item {
    border: 1px solid #eee;
    width: 100%;
    float: left;
    min-height: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.article-cat-item .cat-icon .icon {
    font-size: 48px;
    color: #2b72e6;
    width: 100%;
    height: auto;
    font-weight: 200;
    margin-bottom: 10px;
    line-height: normal;
}

.category-title p {
    font-weight: 300;
    font-style: italic;
    letter-spacing: .5px;
    margin-bottom: 0;
    color: #81878c;
}

.category-title a {
    color: #2f363f;
}

/* .article-cat-item:hover .category-title a, .article-cat-item:hover .cat-icon .icon, .article-cat-item:hover .category-title p {
    color: white !important;
}

.article-cat-item:hover {
    background: #1e8ad2;
    transition: background 1s; 
} */

.font-accent.title {
    color: #fff;
}

.overlay .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

ul, ol, nav ul, nav ol {
    list-style: none;
}

ul, li{
    margin: 3px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.links li {
    font-family: ProximaNova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 100%;
    padding-bottom: 16px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.links li a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}




.article-cat-item .category-title h4::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #ebebeb;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 80px;
    top: auto;
    position: absolute;
}

.article-cat-item .category-title h4::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 80px;
    top: auto;
    position: absolute;
    z-index: 99;
    transition: all 0.3s linear;
}



  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1e8ad2;
    background-color: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #fff #fff #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #fff #fff #fff;
}

.nav-tabs {
    border-bottom: none;
}

.fade {
    transition: opacity .1s linear;
}






.overlay {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: inherit;
}

.article-cat-item:hover .overlay {
    opacity: 1;
    background-color: #1e8ad2;
    -webkit-transition: background-color 1000ms;
    -ms-transition: background-color 1000ms;
    transition: background-color 1000ms;
}

.svg-inline--fa {
    font-size: 48px;
    color: #2b72e6;
    width: 15%;
    height: auto;
    font-weight: 200;
    margin-bottom: 10px;
    line-height: normal;
}