.dx-widget .dx-widget-title, .dx-widget-footer .dx-widget-title {
    padding: 0 30px 0px;
    margin: -6px -30px 15px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1b1b1b;
    border-bottom: none;
}
.dx-widget .dx-widget-categories > li + li, .dx-widget-footer .dx-widget-categories > li + li {
    margin-top: 0;
}

.dx-widget {
    padding: 0;
    padding-top: 60px;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
}