
  <app-header></app-header>
  <div class="dx-separator"></div>
  <div class="container">
  <div class="row">
    <div *ngFor="let _sellerCategory of _sellerCategoryData; let i = index" class="col-md-3">
      <div class="dx-widget">
        <div class="dx-widget-title">{{ _sellerCategory.name }}</div>
        <ul class="dx-widget-categories">
            <li *ngFor="let _article of _sellerCategory.articles; let j = index">
                <a href="single-article-category.html">
                    <span class="icon pe-7s-angle-right"></span>
                    <span class="dx-widget-categories-category">{{ _article.title }}</span>
                </a>
            </li>
        </ul>
        <a style="color: #2b72e6; line-height: 4;" [routerLink]="['/category', _sellerCategory.id, 'seller']">
          <strong>Show all</strong>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div class="dx-box-5 bg-grey-6">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                  <h1 class="display-3 text-black">Have more questions?</h1>
                  <p>We’re here to help</p>
                  <a href="#" class="dx-btn dx-btn-lg mt-10">Contact Us</a>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>